{% extends "base.html" %}

{% block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<link type="text/css" rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js'></script>

<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename = 'js/home.js') }}"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <div class="wrapper fixed-wrapper">
        <section id="terminal">
            <div id="terminal-container">
                <div class="terminal">
                    <div class="window-title">
                        <div class="win-buttons">
                            <a id="close" class="button" href="#"></a>
                            <a id="min" class="button" href="#"></a>
                            <a id="max" class="button" href="#"></a>
                        </div>
                        <span class="title">will_zsh</span>
                    </div>
                    <div class="message">
                        <span class='prompt'><span class='user'>{{ common.alias }}</span><span class="at">@</span><span
                                class="path">Desktop/Portfolio</span>><span
                                class="caret">$</span></span>
                        <span class="typed"></span>
                        <form>><span class="caret">$</span>&nbsp;<input type="text" name="response"/></form>
                    </div>    
                </div>
            </div>
        </section>

    </div>
    <div class="wrapper scroll-wrapper">
        <div class="top-text">
            <p class="text-title desktop-view">{{ common.first_name }}</p>
            <p class="text-title desktop-view">{{ common.last_name }}</p>
            <p class="text-title mobile-view">{{ common.first_name }} {{ common.last_name }}</p>
            <br>
            <div class="social-icons">
                <a target="_blank" href="https://github.com/wdescamps">
                    <img class="title-logo" src="static/images/github.svg">
                </a>
                <a target="_blank" href="https://www.linkedin.com/in/wdesc/">
                    <img class="title-logo" src="static/images/linkedin-logo.svg">
                </a>
                <a target="_blank" href="https://twitter.com/WillDcamp">
                    <img class="title-logo" src="static/images/twitter.svg">
                </a>
                <a target="_blank" href="https://open.spotify.com/user/11134077489?si=c40s28EsTZaVlA3oWsReFg">
                    <img class="title-logo" src="static/images/spotify.svg">
                </a>
            </div>
            <div class="social-icons">
            <a target="_blank" href="https://www.malt.fr/profile/willdes" class="hire">Hire Me<div class="shine"></div></a>
            
        </div>
        </div>
            
        <div class="middle-text">
            <div class="neato-header">Questions going through my mind</div>
            <button class="accordion"><b>Q:</b> I'm lost between all ML/deepL algorithms. What to use & when?</button>
            <div class="panel">
                <p class="text-content"> I created an automated, interactive visual containing most current ML/DL algorithms for each data types.<br /> With relevant infos like pros & cons, most influencial people and their github links.<br /> And latests ARXIV articles. <br />And have it inside an Obsidian Vault: 
                        <a target="_blank" href="https://publish.obsidian.md/wds/Home">Live Demo</a> 
                        </p>

                    <div class="col s12 m4 l8">
                        <div class="player">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/c9gXo2TZYhQ?si=2oJhEgmc1UkVRL6J" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                        <br>
                    </div>
                    <br>
                    </div>
                </div>
            <br>
            <button class="accordion"><b>Q:</b> ChatGPT interactions are fun. What if you swapped your keyboard for a PIANO keyboard?</button>
            <div class="panel">
                <p class="text-content"> B.E.A.T.S (Brilliantly Engineered Algorithmic Tune Synthesizer).<br />Created a tokenizer which allows MIDI file ingestion as tokens in OpenAI's GPT2 architecture.<br />Trained the model from scratch.<br />Created a python script for live interaction with the model.
                        <a target="_blank" href="https://github.com/wdescamps/">
                            <img class="title-logo" src="static/images/github.svg"></a> 
                        </p>
                    </div>
            <br>
            <button class="accordion"><b>Q:</b> We generate a lot of trash. Where does it go?</button>
            <div class="panel">
                <p class="text-content"> Trash Score
                        <a target="_blank" href="https://github.com/wdescamps/">
                            <img class="title-logo" src="static/images/github.svg"></a> 
                        </p>
                    </div>
            <br>
            <button class="accordion"><b>Q:</b> I've spent a LOT of time on YouTube. What did i learn?</button>
            <div class="panel">
                <p class="text-content"> Google Takeout Youtube Analysis
                        <a target="_blank" href="https://github.com/wdescamps/">
                            <img class="title-logo" src="static/images/github.svg"></a> 
                        </p>
                    </div>
            <br>

            <script>
            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                } 
            });
            }
            </script>
            <br>
        </div>
        
    </div>
</div>
{% endblock %}
